<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img class="icon-halter" src="../../assets/icon/icon-halter.png" />
      <ion-title>Meu Treino</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- Se nenhum treino foi selecionado e não está criando treino -->
  <div
    class="center-wrapper"
    *ngIf="(!exercicios || exercicios.length === 0) && !criandoTreino && !treinoSelecionado"
  >
    <img class="icon-weight" src="../../assets/icon/icon-weight.png" />
  </div>

  <!-- Card de criação de treino -->
  <div *ngIf="criandoTreino" class="treino-novo-card-center">
    <ion-card class="exercicio-card">
      <!-- <ion-card-content class="card-content-novo-treino"> -->
      <ion-item class="item-content-novo-treino">
        <ion-label class="label-box-nome-treino" position="floating"
          >Nome do Treino</ion-label
        >
        <ion-input #inputNovoTreino [(ngModel)]="novoTreinoNome"></ion-input>
      </ion-item>
      <ion-button
        class="salvar-treino-btn"
        expand="block"
        (click)="salvarNomeTreino()"
      >
        Salvar nome
      </ion-button>
      <!-- </ion-card-content> -->
    </ion-card>
  </div>

  <!-- Se houver exercícios -->
  <div
    *ngIf="exercicios!.length > 0 || treinoSelecionado"
    class="treino-container ion-padding"
  >
    <h2 class="treino-title">{{ treinoSelecionado }}</h2>

    <ion-card *ngFor="let ex of exercicios" class="exercicio-card">
      <ion-card-content>
        <h3 class="nome-exercicio">{{ ex.nome_exercicio }}</h3>
        <div class="exercicio-valores">
          <div class="valor-item">
            <span class="valor-label">Séries</span>
            <span class="valor-box"
              >{{ ex.series_meta ?? ex.series_feito ?? '-' }}</span
            >
          </div>
          <div class="valor-item">
            <span class="valor-label">Reps</span>
            <span class="valor-box"
              >{{ ex.repeticao_meta ?? ex.repeticao_feita ?? '-' }}</span
            >
          </div>
          <div class="valor-item">
            <span class="valor-label">Peso</span>
            <span class="valor-box"
              >{{ ex.carga_meta ?? ex.carga_feita ?? '-' }}</span
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="footer-buttons">
  <ion-button
    class="round-btn"
    color="medium"
    id="open-modal"
    (click)="abrirModal()"
  >
    <img src="../../assets/icon/icon-list.png" alt="Escolher treino salvo" />
  </ion-button>

  <ion-button class="round-btn" color="success" (click)="criarTreino()">
    <img src="../../assets/icon/icon-add.png" alt="Criar novo treino" />
  </ion-button>
</ion-footer>
