.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-left: 10px;
}

ion-title {
    padding: 0;
    font-weight: bold;
}

.icon-weight {
  width: 300px;
  height: 300px;
}

.footer-buttons {
  display: flex;
  flex-direction: column;     
  align-items: flex-end;      
  padding: 16px;              
  gap: 12px;                  
}

.round-btn {
  --border-radius: 50%;
  width: 60px;                
  height: 60px;
  min-width: 60px;            
  display: flex;
  justify-content: center;    
  align-items: center;
  padding: 0;
}

.round-btn img {
  width: 28px;                
  height: 28px;
}


.center-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100%;            
  width: 100%;
}

.icon-weight {
  width: 300px;
  height: 300px;
}


.toolbar-modal {
  --justify-content: center; 
}

.toolbar-modal ion-title {
  text-align: center;
  width: 100%; 
}

.item-treino {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.treino-text {
  font-size: 1rem;
  font-weight: 500;
}

.button-treino {
  --background: transparent; 
  --border-radius: 50%;      
  padding: 4px;               
}

.button-treino img {
  width: 24px;
  height: 24px;
}
