<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img class="icon-halter" src="../../assets/icon/icon-halter.png" />
      <ion-title>Meu Treino</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- Se nenhum treino foi selecionado e não está criando treino -->
  <div
    class="center-wrapper"
    *ngIf="(!exercicios || exercicios.length === 0) && !criandoTreino && !treinoSelecionado"
  >
    <img class="icon-weight" src="../../assets/icon/icon-weight.png" />
  </div>

  <!-- Card de criação de treino -->
  <div *ngIf="criandoTreino" class="treino-novo-card-center">
    <ion-card class="exercicio-card">
      <!-- <ion-card-content class="card-content-novo-treino"> -->
      <ion-item class="item-content-novo-treino">
        <ion-label class="label-box-nome-treino" position="floating"
          >Nome do novo treino</ion-label
        >
        <ion-input #inputNovoTreino [(ngModel)]="novoTreinoNome"></ion-input>
      </ion-item>
      <ion-button
        class="salvar-treino-btn"
        expand="block"
        (click)="salvarNomeTreino()"
      >
        Salvar nome
      </ion-button>
      <!-- </ion-card-content> -->
    </ion-card>
  </div>

  <!-- Se houver exercícios -->
  <div
    *ngIf="exercicios!.length > 0 || treinoSelecionado"
    class="treino-container ion-padding"
  >
    <h2 class="treino-title">{{ treinoSelecionado }}</h2>

    <!-- Formulário de adição de exercício -->
    <div *ngIf="idTreinoAtual" class="novo-exercicio-form ion-padding">
      <ion-item>
        <div class="meta-item">
          <span class="label-metas" position="floating">Exercício</span>
          <ion-select [(ngModel)]="novoExercicio.exercicio">
            <ion-select-option
              *ngFor="let ex of listaExercicios"
              [value]="ex.id_exercicio"
            >
              {{ ex.nome_exercicio }}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-item>
      <p class="metas">Metas</p>
      <div class="metas-container">
        <div class="meta-item">
          <span class="label-metas">Séries</span>
          <ion-select [(ngModel)]="novoExercicio.series">
            <ion-select-option
              *ngFor="let s of [].constructor(50); let i = index"
              [value]="i + 1"
              >{{ i + 1 }}</ion-select-option
            >
          </ion-select>
        </div>

        <div class="meta-item">
          <span class="label-metas">Reps</span>
          <ion-select [(ngModel)]="novoExercicio.repeticoes">
            <ion-select-option
              *ngFor="let r of [].constructor(50); let i = index"
              [value]="i + 1"
              >{{ i + 1 }}</ion-select-option
            >
          </ion-select>
        </div>

        <div class="meta-item">
          <span class="label-metas">Peso (kg)</span>
          <ion-input
            type="number"
            [(ngModel)]="novoExercicio.carga"
            min="0"
          ></ion-input>
        </div>
      </div>

      <ion-item lines="none">
        <ion-button
          expand="block"
          color="medium"
          class="btn-adicionar-exercicio"
          (click)="adicionarExercicioAoTreino()"
        >
          Adicionar exercício ao treino
        </ion-button>
        <ion-button
          expand="block"
          color="success"
          (click)="finalizarCriacaoTreino()"
        >
          Finalizar criação do treino
        </ion-button>
      </ion-item>
    </div>

    <ion-card *ngFor="let ex of exercicios" class="exercicio-card">
      <ion-card-content>
        <h3 class="nome-exercicio">{{ ex.nome_exercicio }}</h3>
        <div class="exercicio-valores">
          <div class="valor-item">
            <span class="valor-label">Séries</span>
            <span class="valor-box"
              >{{ ex.series_meta ?? ex.series_feito ?? '-' }}</span
            >
          </div>
          <div class="valor-item">
            <span class="valor-label">Reps</span>
            <span class="valor-box"
              >{{ ex.repeticao_meta ?? ex.repeticao_feita ?? '-' }}</span
            >
          </div>
          <div class="valor-item">
            <span class="valor-label">Peso (kg)</span>
            <span class="valor-box"
              >{{ ex.carga_meta ?? ex.carga_feita ?? '-' }}</span
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="footer-buttons">
  <ion-button
    class="round-btn"
    color="medium"
    id="open-modal"
    (click)="abrirModal()"
  >
    <img src="../../assets/icon/icon-list.png" alt="Escolher treino salvo" />
  </ion-button>

  <ion-button class="round-btn" color="success" (click)="criarTreino()">
    <img src="../../assets/icon/icon-add.png" alt="Criar novo treino" />
  </ion-button>
</ion-footer>
