.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-left: 10px;
}

ion-title {
    padding: 0;
    font-weight: bold;
}

.icon-weight {
  width: 300px;
  height: 300px;
}

.footer-buttons {
  display: flex;
  flex-direction: column;     /* Um em cima do outro */
  align-items: flex-end;      /* Alinha na direita */
  padding: 16px;              /* Espaçamento interno opcional */
  gap: 12px;                  /* Espaço entre os botões */
}

.round-btn {
  --border-radius: 50%;
  width: 60px;                /* Define tamanho fixo */
  height: 60px;
  min-width: 60px;            /* Impede que o Ionic force outro tamanho */
  display: flex;
  justify-content: center;    /* Centraliza o ícone */
  align-items: center;
  padding: 0;
}

.round-btn img {
  width: 28px;                /* Tamanho do ícone dentro do botão */
  height: 28px;
}


.center-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100%;            
  width: 100%;
}

.icon-weight {
  width: 300px;
  height: 300px;
}

ion-modal.custom-modal {
  --width: 90%;         
  --max-width: 400px;   
  --height: 40%;       
  --border-radius: 16px;
  --border-radius: 16px;      
  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  --color: #000;              

  
  align-items: center;
  justify-content: center;
}

.footer-modal {
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 12px 0;
}

.button-fechar-modal {
  --color: var(--ion-color-medium); 
    width: 100%;
  justify-content: center;
}

.toolbar-modal {
  --justify-content: center; 
}

.toolbar-modal ion-title {
  text-align: center;
  width: 100%; 
}