<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="meu-treino" href="/tabs/meu-treino">
      <img class="icon" src="../../assets/icon/icon-halter.png" />
      <ion-label>Meu Treino</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estatisticas" href="/tabs/estatisticas">
      <img class="icon" src="../../assets/icon/icon-charts.png" />
      <ion-label>Estatísticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <img class="icon" src="../../assets/icon/icon-user.png" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
