/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.pop-up-treinos-modal {
  --width: 90%;        
  --max-width: 400px;  
  --height: 50%;       
  --border-radius: 16px;
  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ====== Forçar modo escuro ====== */
:root {
  color-scheme: dark;

  /* Cores principais do tema escuro */
  --ion-background-color: #1e1e1e;
  --ion-background-color-rgb: 30, 30, 30;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-toolbar-background: #2a2a2a;
  --ion-toolbar-color: #ffffff;

  --ion-item-background: #2a2a2a;
  --ion-item-color: #ffffff;

  --ion-card-background: #2b2b2b;
  --ion-card-color: #ffffff;

  --ion-color-primary: #3b82f6;
  --ion-color-secondary: #6366f1;
  --ion-color-tertiary: #10b981;
  --ion-color-success: #22c55e;
  --ion-color-warning: #facc15;
  --ion-color-danger: #ef4444;
  --ion-color-medium: #6b7280;
  --ion-color-light: #d1d5db;
}
