<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <div class="profile-header">
      <img
        class="avatar"
        src="https://www.w3schools.com/howto/img_avatar.png"
      />
      <div class="user-info">
        <ion-card-title>Nome</ion-card-title>
        <ion-card-subtitle>Idade</ion-card-subtitle>
        <ion-card-subtitle>Tempo de uso</ion-card-subtitle>
        <ion-card-subtitle>email@email.com</ion-card-subtitle>
      </div>
    </div>
  </ion-card>
  <!-- <app-explore-container name="Perfil page"></app-explore-container> -->
</ion-content>
