<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img class="icon-user" src="../../assets/icon/icon-user.png" />
      <ion-title> Perfil </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="profile">
    <div class="profile-content">
      <ion-button class="avatar">
        <img class="avatar-photo" src="../../assets/icon/icon-add-photo.png" />
      </ion-button>

      <ion-card class="user-info">
        <ion-card-title>Nome</ion-card-title>
        <ion-card-subtitle>Idade</ion-card-subtitle>
        <ion-card-subtitle>Tempo de uso</ion-card-subtitle>
        <ion-card-subtitle>email@email.com</ion-card-subtitle>
      </ion-card>
    </div>
  </ion-card>

  <!-- Filtros -->
  <div class="filtros-container">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="nomeFiltro"></ion-input>
    </ion-item>

    <div class="filtros-linha">
      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-input [(ngModel)]="cidadeFiltro"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">UF</ion-label>
        <ion-input [(ngModel)]="ufFiltro"></ion-input>
      </ion-item>
    </div>
  </div>

  <!-- Lista de Treinadores -->
  <ion-list>
    <ion-card *ngFor="let t of treinadores" class="treinador-card">
      <ion-card-header>
        <ion-card-title>{{ t.nome }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Cidade:</strong> {{ t.cidade }}</p>
        <p><strong>UF:</strong> {{ t.uf }}</p>
        <p><strong>Telefone:</strong> {{ t.telefone }}</p>
        <p><strong>Email:</strong> {{ t.email }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
