.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-left: 10px;
}

ion-title {
    padding: 0;
    font-weight: bold;
}

ion-card-title {
    font-weight: bolder;
}

ion-card-subtitle {
    font-weight: bold;
  }

.icon-weight {
  width: 300px;
  height: 300px;
}

.profile {
  display: flex;
  align-items: center;   
  gap: 12px;             
  padding: 12px;       
    border-radius: 12px;
  overflow: hidden; 
}

.avatar-photo {
  width: 60%;
  height: 60%;
  object-fit: cover;           /* Preenche o card mantendo proporção */
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;               /* Torna o card um container flex */
  justify-content: center;     /* Centraliza horizontalmente */
  align-items: center;         /* Centraliza verticalmente */
  margin: 5px auto;            /* Centraliza o card na tela se quiser */
  overflow: hidden;            /* Garante que a imagem não ultrapasse o círculo */
}




.user-info { 
  box-shadow: none;
}

.user-info ion-card-title {
  margin: 0;
  font-size: 1rem;   
}

.user-info ion-card-subtitle {
  margin: 8px 0; 
}

ion-item {
  // --background: #fff;     
  --border-radius: 12px;  
  margin: 10px;           
}