<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img class="icon-charts" src="../../assets/icon/icon-charts.png" />
      <ion-title> Estatísticas </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  Botões dos dias da semana -->
  <div class="dias-semana">
    <ion-button 
      *ngFor="let dia of diasSemana"
      [color]="getCorDoDia(dia)"
      (click)="selecionarDia(dia)">
      {{ dia | slice:0:3 | titlecase }}
    </ion-button>
  </div>

  <div *ngIf="treinoSelecionado">
    <ion-item lines="none">
      <ion-label>
        <h2>{{ treinoSelecionado.nome_treino }}</h2>
        <p>{{ treinoSelecionado.ultima_data  | date:'dd/MM/yyyy' }} — {{ treinoSelecionado.dia_semana }}</p>
      </ion-label>
    </ion-item>
  </div>

  <!-- Gráfico de barras “feito vs meta” -->
  <div class="grafico-container">
    <canvas id="graficoTreino"></canvas>
  </div>

  <!--  Lista de exercícios (após escolher o dia) -->
  <ion-item *ngIf="exercicios.length > 0">
    <ion-label>Selecione um exercício</ion-label>
    <ion-select (ionChange)="selecionarExercicio($event.detail.value)">
      <ion-select-option *ngFor="let ex of exercicios" [value]="ex">
        {{ ex.nome }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!--  Barra de progresso geral -->
  <div *ngIf="nomeTreino">
    <ion-progress-bar [value]="progressoGeral / 100" color="success"></ion-progress-bar>
    <p class="percentual">{{ progressoGeral | number:'1.0-0' }}%</p>
  </div>

  <!-- Gráfico de linha “evolução de carga” -->
  <div class="grafico-container">
    <canvas id="graficoEvolucaoCarga"></canvas>
  </div>

</ion-content>
