<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img class="icon-charts" src="../../assets/icon/icon-charts.png" />
      <ion-title> Estatísticas </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list value="op1">
    <div class="checkbox-row">
      <ion-checkbox value="op1" label-placement="stacked" color="success"
        >Seg</ion-checkbox
      >
      <ion-checkbox value="op2" label-placement="stacked" color="success"
        >Ter</ion-checkbox
      >
      <ion-checkbox value="op3" label-placement="stacked" color="danger"
        >Qua</ion-checkbox
      >
      <ion-checkbox value="op4" label-placement="stacked" color="success"
        >Qui</ion-checkbox
      >
      <ion-checkbox value="op5" label-placement="stacked" color="warning"
        >Sex</ion-checkbox
      >
      <ion-checkbox value="op6" label-placement="stacked" color="success"
        >Sab</ion-checkbox
      >
      <ion-checkbox value="op7" label-placement="stacked" color="danger"
        >Dom</ion-checkbox
      >
    </div>
  </ion-list>
</ion-content>
