.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-left: 10px;
}

ion-title {
    padding: 0;
    font-weight: bold;
}

.icon-weight {
  width: 300px;
  height: 300px;
}

.checkbox-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ion-checkbox::part(container) {
  border-radius: 50%; 
  width: 28px;
  height: 28px;
}

ion-checkbox::part(mark) {
  display: none;
}

ion-item {
  margin-top: 4px; 
}

ion-progress-bar {
  margin-top: 4px; 
}

.barra-progresso {
  --height: 24px;                
  --border-radius: 12px;         
  --progress-background: green;  
  --background: lightgray;     
}

.grafico-container {
  position: relative;
  width: 100%;
  height: 200px; 
  margin: 0 0 0 0; 
  padding: 0;
}

.dias-semana {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: 4px;
  gap: 2px;
}

.dias-semana ion-button {
  flex: 1 1 calc(100% / 7);
  margin: 0;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 2px 0;
  min-width: 0; /* evita forçar largura mínima */
}

.percentual {
  margin-top: 2px;
  font-size: 0.9rem;
  text-align: center;
}

