.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-left: 10px;
}

ion-title {
    padding: 0;
    font-weight: bold;
}

.icon-weight {
  width: 300px;
  height: 300px;
}

.checkbox-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ion-checkbox::part(container) {
  border-radius: 50%;   /* círculo */
  width: 28px;
  height: 28px;
}

ion-checkbox::part(mark) {
  display: none;
}

.barra-progresso {
  --height: 24px; /* aumenta a altura da barra */
  --border-radius: 12px; /* mantém cantos arredondados */
  // --progress-background: green;
}

